/*** general styling ***/
body {
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: white;

  background: url('./bg.png') fixed;
}